{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  } // add a underscore to remove the ignore unused variables error
}
